        html{
        font-family: "canada-type-gibson", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding:4px;
        }
        .container{
            display:flex;
            gap: 16px;
        }
        div{
            padding:16px;
        }
        .color-box {
            height: 75px;
            width: 100px;
        }
        #box1 {
            background-color:#12130f;
            color: white
        }
        #box2 {
            background-color:#5b9279;
        }
        #box3 {
            background-color:#8fcb9b;
        }
        #box4 {
            background-color:#eae6e5;
        }
        #box5 {
            background-color:#8f8073;
        }
        p {
            font-size:14;
            margin:20px
        }
        .small-text {
            font-size:12px;
        }
        h1{
            font-size:32px;  
            color: #5b9279;
        }
        h2{
            font-size:24px;
            margin:8px;
            color: #8fcb9b;
        }
        h3{
            color:#8f8073;
            font-size:16px;
            margin:12px;
        }
        a{
            text-decoration: none;
            color:#8fcb9b;
         
        }
        a:hover{
            color:#5b9279;
        }
        a:visited{
            color:#8f8073;
        }
        button{
            background-color:#12130f;
            color:#5b9279;
        }
        button:hover{
            background-color:#5b9279;
            color:#12130f;
        }
        p{
        color:#8f8073;
        }
