.main-nav{
    display: flex;
    justify-content: space-between;
    padding:1rem;
    background-color:burlywood;
}
.nav-menu{
    display: flex;
    gap: 3vw;
}
.nav-toggle{
    display:none;
    justify-content: center;
    flex-direction: column;
    padding: .5rem;
    gap: 3px;

}
.nav-brand{
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-toggle span{
    display: none;
    width: 10px;
    height: 2px;
    padding: .1rem ;
    background-color: white;
    border-radius: 10px;
}
.nav-toggle:hover span{
    background-color: black;
}
.nav-toggle:hover{
    background-color: white;
}
.nav-menu2.show {
  display:none;
  flex-direction: column;
position: absolute;
  right: 0;
  width: 20%;
  background-color: burlywood;
  padding: 1rem ;

}
.nav-menu2{
    display: none;
}
a{
text-decoration: none;
color:black;
         
}
 a:visited{
            color:black;
}




.parent-grid{
            display: grid;
            grid-template-columns:repeat(2, 1fr);
            grid-template-rows:repeat(3, 1fr);
            width: 315px;
            grid-template-areas:
            "Sidebar1 Main SideBar2"
            "Sidebar3 Main SideBar4"
            ;
}




@media (max-width: 768px){
    .nav-menu{
        display: none;
    }
    .nav-toggle{
        display:flex;
        background-color: black;
    }
    .nav-toggle span{
        display:flex;
    }
    .nav-menu2.show{
        display: flex;
    }

}